@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");
.content__indexcontainer {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  background-color: #222222;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (max-width: 799px) {
  .content__indexcontainer {
    min-height: calc(100vh - 350px);
  }
}

@media (min-width: 800px) {
  .content__indexcontainer {
    min-height: calc(100vh - 140px);
  }
}

@media (max-width: 799px) {
  .index__onas {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    min-height: 500px;
  }
  .index__onas--photo {
    display: none;
  }
  .index__onas--photo img {
    display: none;
  }
  .index__onas--content {
    display: none;
  }
}

@media (min-width: 800px) {
  .index__onas {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    height: 300px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    overflow: hidden;
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
    margin-top: 20px;
  }
  .index__onas--photo {
    width: 400px;
    height: 300px;
    border-bottom: 300px solid;
    border-right: 100px solid transparent;
    border-left: 0px solid transparent;
    margin: 0 0 0;
    -webkit-transform: translateX(150px);
            transform: translateX(150px);
  }
  .index__onas--photo img {
    width: 400px;
    height: 300px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .index__onas--content {
    width: calc(100vw - 100px);
    height: 300px;
    border-right: 0px solid transparent;
    border-left: 300px solid transparent;
    border-top: 300px solid #0088cc;
    margin: 0 0 0;
    -webkit-transform: translateX(-150px);
            transform: translateX(-150px);
    color: black;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .index__onas--content-header {
    width: 100%;
    padding: 10px;
    color: silver;
    font-size: 36px;
    position: relative;
    left: -200px;
    top: -300px;
    font-weight: bold;
  }
  .index__onas--content-text {
    position: relative;
    top: -300px;
    padding-bottom: 10px;
    padding-right: 10px;
    padding-left: 5px;
    font-size: 19px;
    font-family: 'lato',sans-serif;
  }
}

@media (max-width: 799px) {
  .index__oferta {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    min-height: 500px;
  }
  .index__oferta--photo {
    display: none;
  }
  .index__oferta--photo img {
    display: none;
  }
  .index__oferta--content {
    display: none;
  }
}

@media (min-width: 800px) {
  .index__oferta {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    height: 300px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    overflow: hidden;
    margin-top: 30px;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  .index__oferta--photo {
    width: 400px;
    height: 300px;
    border-bottom: 300px solid;
    border-right: 300px solid transparent;
    border-right: 0px solid transparent;
    margin: 0 0 0;
    -webkit-transform: translateX(-150px);
            transform: translateX(-150px);
  }
  .index__oferta--photo img {
    width: 400px;
    height: 300px;
    -o-object-fit: cover;
       object-fit: cover;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  .index__oferta--content {
    width: calc(100vw - 100px);
    height: 300px;
    border-left: 0px solid transparent;
    border-right: 300px solid transparent;
    border-top: 300px solid #0088cc;
    margin: 0 0 0;
    -webkit-transform: translateX(150px);
            transform: translateX(150px);
    z-index: 1;
    color: black;
  }
  .index__oferta--content-header {
    width: 100%;
    padding: 10px;
    color: silver;
    font-size: 36px;
    position: relative;
    left: 100%;
    top: -300px;
    font-weight: bold;
  }
  .index__oferta--content-text {
    position: relative;
    top: -300px;
    padding-bottom: 10px;
    padding-right: 5px;
    padding-left: 30px;
    font-size: 19px;
    font-family: 'lato',sans-serif;
  }
}

@media (max-width: 799px) {
  .index__kontakt {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    min-height: 500px;
  }
  .index__kontakt--photo {
    display: none;
  }
  .index__kontakt--photo img {
    display: none;
  }
  .index__kontakt--content {
    display: none;
  }
}

@media (min-width: 800px) {
  .index__kontakt {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    height: 300px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    overflow: hidden;
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
    margin-top: 30px;
    margin-bottom: 20px;
  }
  .index__kontakt--photo {
    width: 400px;
    height: 300px;
    border-bottom: 300px solid;
    border-right: 300px solid transparent;
    border-left: 0px solid transparent;
    margin: 0 0 0;
    -webkit-transform: translateX(150px);
            transform: translateX(150px);
  }
  .index__kontakt--photo img {
    width: 400px;
    height: 300px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .index__kontakt--content {
    width: calc(100vw - 100px);
    height: 300px;
    border-right: 0px solid transparent;
    border-left: 300px solid transparent;
    border-top: 300px solid #0088cc;
    margin: 0 0 0;
    -webkit-transform: translateX(-150px);
            transform: translateX(-150px);
    color: black;
  }
  .index__kontakt--content-header {
    width: 100%;
    padding: 10px;
    color: silver;
    font-size: 36px;
    position: relative;
    left: -200px;
    top: -300px;
    font-weight: bold;
  }
  .index__kontakt--content-text {
    position: relative;
    top: -300px;
    padding-bottom: 10px;
    padding-right: 10px;
    padding-left: 5px;
    font-size: 19px;
    font-family: 'lato',sans-serif;
  }
}
/*# sourceMappingURL=main.css.map */