@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');
$header-color: #222;
.content__indexcontainer
{
   flex-basis: 100%;
   @media(max-width: 799px)
   {
    min-height: calc(100vh - 350px);
   }
   @media(min-width: 800px)
   {
    min-height: calc(100vh - 140px);
   }
    background-color: red;
    display: flex;
    flex-wrap: wrap;
}

@mixin indexcontainer {
    flex-basis: 100%;
    min-height: 500px;
}
@mixin indexcontainerbigger {
    flex-basis: 100%;
    height: 300px;
    display: flex;
    overflow: hidden;
}
.index__onas
{
    @media(max-width: 799px)
    {
        @include indexcontainer();
        &--photo
        {
      display: none;
          img
         {
       display: none;
        }
    }
        &--content
        {
           display: none;
        }
    }
    @media(min-width: 800px)
    {
        @include indexcontainerbigger();
        &--photo
        {
            width: 300px;
	    height: 300px;
	border-bottom: 300px solid gray;
	border-right: 300px solid transparent;
    margin: 0 0 0;
    transform: translateX(150px);
    img
    {
        width: 300px;
        height: 300px;
        object-fit: cover;
    }
    //z-index: 1;
        }
        
        &--content
        {
            width: calc(100vw);
	height: 300px;
	border-right: 0px solid transparent;
	border-left: 300px solid transparent;
	border-top: 300px solid lightseagreen;
    margin: 0 0 0;
            transform: translateX(-150px);
            //z-index: 2;
            color: black;
            display: flex;
            flex-wrap: wrap;
            &-header
            {
                width: 100%;
                padding: 10px;
                color: $header-color;
                font-size: 36px;
                position: relative;
                left: -200px;
                top: -300px;
                font-weight: bold;
            }
            &-text
            {
                position: relative;
                top: -300px;
                padding-bottom: 10px;
                padding-right: 10px;
                padding-left: 5px;
                font-size: 19px;
                font-family: 'lato',sans-serif;
            }
        }
    }
background-color: rebeccapurple;
}
.index__oferta
{
    @media(max-width: 799px)
    {
        @include indexcontainer();
        &--photo
        {
      display: none;
          img
         {
       display: none;
        }
    }
        &--content
        {
           display: none;
        }
    }
    @media(min-width: 800px)
    {
        @include indexcontainerbigger();
        &--photo
        {
            width: 300px;
	    height: 300px;
	border-bottom: 300px solid gray;
    border-left: 300px solid transparent;
    margin: 0 0 0;
    transform: translateX(-150px);
    img
    {
        width: 300px;
        height: 300px;
        object-fit: cover;
        transform: translateX(-300px);
    }
    //z-index: 1;
        }
        
        &--content
        {
            width: calc(100vw);
	height: 300px;
	border-left: 0px solid transparent;
	border-right: 300px solid transparent;
	border-top: 300px solid lightskyblue;
    margin: 0 0 0;
            transform: translateX(150px);
            z-index: 1;
            color: black;
            &-header
            {
                width: 100%;
                padding: 10px;
                color: $header-color;
                font-size: 36px;
                position: relative;
                left: 100%;
                top: -300px;
                font-weight: bold;
            }
            &-text
            {
                position: relative;
                top: -300px;
                padding-bottom: 10px;
                padding-right: 5px;
                padding-left: 10px;
                font-size: 19px;
                font-family: 'lato',sans-serif;
            }
        }
    }
background-color: rebeccapurple;
}
.index__kontakt
{
    @media(max-width: 799px)
    {
        @include indexcontainer();
        &--photo
        {
      display: none;
          img
         {
       display: none;
        }
    }
        &--content
        {
           display: none;
        }
    }
    @media(min-width: 800px)
    {
        @include indexcontainerbigger();
        &--photo
        {
            width: 300px;
	    height: 300px;
	border-bottom: 300px solid gray;
	border-right: 300px solid transparent;
    margin: 0 0 0;
    transform: translateX(150px);
    img
    {
        width: 300px;
        height: 300px;
        object-fit: cover;
    }
    //z-index: 1;
        }
        
        &--content
        {
            width: calc(100vw);
	height: 300px;
	border-right: 0px solid transparent;
	border-left: 300px solid transparent;
	border-top: 300px solid lightpink;
    margin: 0 0 0;
            transform: translateX(-150px);
            //z-index: 2;
            color: black;
            &-header
            {
                width: 100%;
                padding: 10px;
                color: $header-color;
                font-size: 36px;
                position: relative;
                left: -200px;
                top: -300px;
                font-weight: bold;
            }
            &-text
            {
                position: relative;
                top: -300px;
                padding-bottom: 10px;
                padding-right: 10px;
                padding-left: 5px;
                font-size: 19px;
                font-family: 'lato',sans-serif;
            }
        }
    }
background-color: rebeccapurple;
}